<?xml version="1.0" encoding="utf-8"?>
<all>
  <menuUp>
    <menu>
      <name>Главная</name>
      <color>0xDCAF0B</color>
      <content>http://mfk.artvision.net.ua</content>
      <submenu>
        <name>О нас</name>
        <content>/test</content>
      </submenu>
      <submenu>
        <name>Контакты</name>
        <content>/test</content>
      </submenu>
      <submenu>
        <name>Отзывы</name>
        <content>/test</content>
      </submenu>
      <submenu>
        <name>Предложения</name>
        <content>/test</content>
      </submenu>
    </menu>
    <menu>
      <name>Турниры</name>
      <color>0xA28935</color>
      <submenu>
        <name>Чумпионат Украины</name>
        <content>/test</content>
      </submenu>
      <submenu>
        <name>Кубок Украины</name>
        <content>/test</content>
      </submenu>
      <submenu>
        <name>Сборная Украины</name>
        <content>/test</content>
      </submenu>
    </menu>
    <menu>
      <name>Документы</name>
      <color>0x969696</color>
      <content>/test</content>
    </menu>
    <menu>
      <name>Мультимедиа</name>
      <color>0xC0C0C0</color>
      <submenu>
        <name>Фото</name>
        <content>/photo</content>
      </submenu>
      <submenu>
        <name>Видео</name>
        <content>/video</content>
      </submenu>
    </menu>
  </menuUp>
  <menuDown>
    <menu>
      <name>Команда</name>
      <color>/team</color>
      <submenu>
        <name>Состав</name>
        <content>/staff</content>
      </submenu>
      <submenu>
        <name>Монолит 2</name>
        <content>/test</content>
      </submenu>
      <submenu>
        <name>Академия</name>
        <content>/test</content>
      </submenu>
      <submenu>
        <name>Партнёры</name>
        <content>/test</content>
      </submenu>
      <submenu>
        <name>Контакты</name>
        <content>/contacts</content>
      </submenu>
    </menu>
    <menu>
      <name>Партнёры</name>
      <content>/test</content>
      <color>0xA28935</color>
    </menu>
    <menu>
      <name>Фан-Клуб</name>
      <content>/test</content>
      <color>0x969696</color>
    </menu>
    <menu>
      <name>Спонсоры</name>
      <content>/test</content>
      <color>0xC0C0C0</color>
    </menu>
  </menuDown>
</all>